/* GLOBAL APP CSS */

/*
  lIGHTHOUSE APP PERFORMANCE
    - First Contentful Paint: https://web.dev/font-display/
*/


// app global css in SCSS form
@import "prism";

@font-face {
  font-family: SEN;
  src: url(../assets/fonts/sen/Sen-Regular.woff) format(woff);
  // font-family: KOP;
  // src: url(../assets/fonts/kopub/KoPubWorld-Dotum-Light.ttf) format(ttf);
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

body {
  // font-family: SEN;
  font-size: 1rem; // This allows us to increase and decrease text within the left menu
  color: $standard-font-color;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .text-h1,
  .text-h2,
  .text-h3,
  .text-h4,
  .text-h5,
  .text-h6 {
    margin-bottom: 1rem;
    margin-top: 1.5rem;
  }
  h1,
  .text-h1 {
    font-size: 4.5rem;
    line-height: 4.6rem;
  }
  h2,
  .text-h2 {
    font-size: 3rem;
  }
  h3,
  .text-h3 {
    font-size: 2.5rem;
    font-weight: 300;
  }
}

.body--light {
  background-color: $body-bg-color;
}

.body--dark {
  a {
    color: $lighter-font-color;
  }
}

.page-with-transparent-header {
  margin-top: -92px;
}

.header-image-content {
  background-color: rgba(0, 0, 0, 0.47);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.post-header-image-content {
  justify-content: center;
  text-align: center;
  h1 {
    margin-bottom: 10px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
  }
  .text-h3 {
    margin-top: 0px;
  }
  .post-link {
    color: white;
    text-decoration: none;
  }
}

@font-face {
  font-family: SEN;
  src: url(../assets/fonts/sen/Sen-Regular.woff) format(woff);
  // font-family: KOP;
  // src: url(../assets/fonts/kopub/KoPubWorld-Dotum-Light.ttf) format(ttf);
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Bauhaus_93";
  src: url("fonts/Bauhaus_93/5683385/86d777be-ba3c-4a21-a94a-41b4f8ddd94b.woff2")
      format("woff2"),
    url("fonts/Bauhaus_93/5683385/9c942d13-7269-478c-b12e-61ac23fc3e16.woff")
      format("woff");

}

// @font-face {
//   font-family: SEN;
//   src: url(../assets/fonts/sen/Sen-Regular.woff) format(woff);
//   // font-family: KOP;
//   // src: url(../assets/fonts/kopub/KoPubWorld-Dotum-Light.ttf) format(ttf);
//   font-style: normal;
//   font-weight: 300;
//   font-display: swap;
// }

// body {
//   font-family: SEN;
// }