// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary: #1C72B5;
$secondary: #7ca5c4;
$dark: #0D1A24;
$info: #7dc9e0;
$positive: #4bbe5e;
$warning: #e6b04b;
$negative: #c94343;

$bgcolor: #fafafa;

$h1-size: 40px;
$h2-size: 30px;
$h3-size: 25px;
$h4-size: 20px;
$h5-size: 18px;
$h6-size: 16px;
$text-size: 14px;


